*{
    box-sizing: border-box;
}

html, body {
    background-color: skyblue;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center
}

footer {
    clear:both;
    text-align: center;
}